<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta property="og:url" content="{{ site.url}}">
        <meta property="og:image" content="{{ site.url}}{{ site.image }}">
        <meta property="og:title" content="{{ site.name }}">
        <meta property="og:description" content="{{ site.description }}">
        <title>{{ site.name }}</title>
        <link rel="stylesheet" href="style.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <div class="container">
                <h1>Simple Share Popups</h1>
                <p>A small collection of methods for adding share buttons that don't rely on JavaScript or any authorization stuff.</p>
            </div>
        </header>
        <div class="container">
            {{ content }}
        </div>
        <footer class="footer">
            <div class="container">
                <p>Open sourced under MIT. Copyright 2014</p>
                <p>Collected by <a href="{{ site.twitter }}">Paul Molluzzo</a>.</p>
                <iframe src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&repo=simple_share_popups&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
                <iframe src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&repo=simple_share_popups&type=fork&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="80" height="20"></iframe>
                <iframe src="http://ghbtns.com/github-btn.html?user=paulmolluzzo&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
                <p><small>Image from <a href="https://www.flickr.com/photos/nicsuzor/2554668884/">nicsuzor</a>. &copy; Attribution-ShareAlike License</small></p>
            </div>
        </footer>
    </body>
</html>